@*@model IEnumerable<proyecto_final_prog2.Domain.Entities.Column>*@
@model proyecto_final_prog2.Application.IApiClient
@{
    ViewData["Title"] = "Main Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(Model!=null){
        @foreach(var item in Model)
        {
            <a>@item.column_title</a>
        }
    }
</div>
<button type="button" class="btn btn-default" onclick="@Url.Action("Test_btn","Home")">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Test
</button>
<input type="button" value="Go to Action" onclick="location.href='@Url.Action("Test_btn", "Home")'" />
*@
<div class="board">
@if (Model != null)
{
        @foreach(var item in await Model.GetColumns())
        {
            <div class="column">
                <h2>@item.column_title</h2>
                @foreach (var tsks in await Model.GetTasksFromColumn(@item.ID))
                {
                    <div class="task" draggable="true">
                        <p>@tsks.title</p>
                        <div class="tags">
                            @foreach (var tag in await Model.GetTagsFromTask(@tsks.ID))
                            {
                                <span class="tag">@tag.tag_name</span>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    }
    @*
    <div class="column">
        <h2>To Do</h2>
        <div class="task" draggable="true">
            <p>Task 1</p>
            <div class="tags">
                <span class="tag">Important</span>
            </div>
        </div>
        <div class="task" draggable="true">
            <p>Task 2</p>
            <div class="tags">
                <span class="tag">Urgent</span>
            </div>
        </div>
    </div>

    <div class="column">
        <h2>In Progress</h2>
        <div class="task" draggable="true">
            <p>Task 3</p>
            <div class="tags">
                <span class="tag">Work</span>
            </div>
        </div>
    </div>

    <div class="column">
        <h2>Done</h2>
        <div class="task" draggable="true">
            <p>Task 4</p>
            <div class="tags">
                <span class="tag">Completed</span>
            </div>
        </div>
    </div>
</div>
    *@

